extends layout

block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/') Tester
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/newTest') Add new Test 
    table
        tr
            td Device
            td Apk
            td Test Apk
            td Status
            td Result
        for value in testRuns
            tr
                td= value.deviceDesc
                td(id='downloadApk_'+value.id)
                    a(href=`/apk/${value.id}/apk` target="_blank" rel="noopener noreferrer")
                        img(src='/images/apk.png', alt='Download Apk' class='apkInside')
                td(id='downloadTestApk_'+value.id)
                    a(href=`/apk/${value.id}/testApk` target="_blank" rel="noopener noreferrer")
                        img(src='/images/apk.png', alt='Download Apk' class='apkInside')
                td= value.status
                td 
                    a(id href="#") Full Report
    script.
        function downloadApk(res){
            console.log(res)
            let input = res.split('_')
            let options = {
                action:'download',
                id: input[1],
                type:'apk'
            }
            if(input[0].indexOf('Test')!=-1)
                options.type = 'test'
            $.ajax({
                    type: "POST",
                    url: "?",
                    data: JSON.stringify(options),
                    dataType: "json",
                    contentType: "application/json"
                });
        }


    