extends layout

block content
  form(action="?", method="post" enctype="multipart/form-data")
    label Package name of your app
    br
    input(type="text" name="package" placeholder="com.google.android" required) 
    br
    br
    label Application apk file
    br
    input(type="file", name="file" required)
    br
    br
    label Testing apk file
    br
    input(type="file", name="test_file" required)
    br
    br
    input(type="submit")
