extends layout

block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/') XOGame BMS
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/newTest') Add new Test 
    table
        tr
            td id
            td Device
            td Apk
            td Test Apk
            td Status
            td Result

    